<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>driveright - Partner Ihrer Fahrschule</title>

  <link href="theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link href="theme/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="theme/vendor/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <img src="/images/logo-horizontal.png" alt="" />
      </a>
    </div>
  </nav>

  <section style="margin-top: 100px;">

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h3>Allgemeine Geschäftsbedingungen</h3>
          <dt>1. Allgemeines</dt>
          <dd>
            <div><strong>1.1</strong> Die vertragliche Leistung der Firma driveright, Inhaber Niklas
              Knipp, Auf dem Forst 6, 51375 Leverkusen, (nachfolgend Firma driveright) umfasst die Erstellung und
              Betrieb von Websites für Fahrschulen. Die Tätigkeit der Firma driveright beschränkt
              sich dabei auf die Bereitstellung von Gestaltungsvorlagen, Bildern, Texten,
              Webanwendungen und Speicherplatz für die Websites und E-Mail-Konten der Fahrschulen.
              Soweit möglich pflegt die Fahrschule die Inhalte in Eigenleistung und
              -verantwortung.
            </div>
            <div><strong>1.2</strong> Die Fahrschule stellt die Firma driveright von Ansprüchen Dritter
              und daraus
              entstehenden Kosten frei, die diesen in irgendeiner Weise aus dem Betrieb der
              Website gegen die Firma driveright erwachsen.
            </div>
          </dd>
          <dt>2. Leistungen</dt>
          <dd>
            <div><strong>2.1</strong> Alle von der Firma driveright zur Verfügung gestellten Inhalte
              sind frei von Rechten
              Dritter.
            </div>
            <div><strong>2.2</strong> Die Firma driveright nimmt im Rahmen des Auftrages keine Prüfung
              der
              Veröffentlichungen auf inhaltliche Richtigkeit, Verlässlichkeit oder Vereinbarkeit
              mit gesetzlichen Vorgaben vor. Die Fahrschule ist allein für die Inhalte
              verantwortlich. Bei Missbrauch oder Verstoß gegen geltendes Recht hat die Firma
              driveright das Recht, die sofortige Sperrung der Website/Inhalte im Internet zu
              veranlassen. Die Firma driveright hat in solchen Fällen das Recht zur
              außerordentlichen, fristlosen Kündigung.
            </div>
            <div><strong>2.3</strong> Die von der Firma driveright erstellten Websites dürfen nicht ohne
              ausdrückliche
              Genehmigung der Firma driveright anderweitig veröffentlicht werden.
            </div>
            <div><strong>2.4</strong> Der der Fahrschule zur Verfügung gestellte Speicherplatz auf den
              Servern der Firma
              driveright, darf nur zweckgebunden für zu veröffentlichende Inhalte genutzt werden.
            </div>
            <div><strong>2.5</strong> Alle von der Firma driveright erstellten Inhalte und Websites
              bleiben im Eigentum
              der Firma driveright. Es stehen der Firma driveright die ausschließlichen
              Nutzungsrechte an diesen Werken zu. Alle diese Werke dürfen ohne ausdrückliche
              Genehmigung der Firma driveright nicht anderweitig verwendet werden.
            </div>
            <div><strong>2.6</strong> Für die Einrichtung wählt die Fahrschule eine von der Firma
              driveright zur Verfügung
              gestellte Website-Vorlage aus. Die Vorlage wird mit dem von der Fahrschule zur
              Verfügung gestellten Logo und mit den gewünschten Farben ausgestattet.
            </div>
            <div><strong>2.7</strong> Ein späterer Wechsel der Website-Vorlage ist nicht möglich.</div>
            <div><strong>2.8</strong> Die Website-Vorlage beinhaltet eine Standard-Seitenstruktur und
              Standard-Texte.
              Sowohl die Seitenstruktur als auch die Texte können auf Wunsch angepasst werden,
              wodurch aber, je nach Umfang, zusätzliche Kosten entstehen.
            </div>
          </dd>
          <dt>3. Vertrag</dt>
          <dd>
            <div><strong>3.1</strong> Die Vertragsdauer beginnt mit der Bereitstellung der vertraglich
              vereinbarten
              Leistungen im Internet.
            </div>
            <div><strong>3.2</strong> Die Vertragslaufzeit beginnt auch, wenn die Fahrschule keine
              eigenen Inhalte
              bereitstellt oder die Domain noch nicht umgezogen wurde.
            </div>
            <div><strong>3.3</strong> Der Vertrag läuft auf unbestimmte Zeit und wird monatlich
              abgerechnet. Der Vertrag
              verlängert sich automatisch um einen Monat, wenn nicht spätestens 4 Wochen vor
              Vertragsende gekündigt wird.
            </div>
            <div><strong>3.4</strong> Die Kündigung bedarf der Schriftform.</div>
            <div><strong>3.5</strong>
              Unmittelbar nach Beendigung des Vertragsverhältnisses wird die Website und alle der
              Firma driveright bereitgestellten Inhalte gelöscht. Für ein Backup der von der
              Fahrschule
              zur Verfügung gestellten Inhalte (Bilder etc.) und der E-Mails muss die Fahrschule vor
              Vertragsende selber sorgen.
            </div>
          </dd>
          <dt>4. Zahlungsbedingungen</dt>
          <dd>
            <div><strong>4.1</strong> Mit Abschluss des Bestellvorgangs der Website wird die Zahlung für
              die
              Ersteinrichtung fällig.
            </div>
            <div><strong>4.2</strong> Mit der Bereitstellung der Website beginnt der
              Abrechnungszeitraum.
            </div>
            <div><strong>4.3</strong> Die Fahrschule verpflichtet sich zur Zahlung des vertraglich
              vereinbarten,
              monatlichen Betrags. Der monatliche Betrag ist im voraus für den kommenden Monat zu
              entrichten.
            </div>
            <div><strong>4.4</strong> Die Firma driveright kann die Website vorübergehend oder dauerhaft
              sperren, wenn die
              Fahrschule nicht spätestens einen Monat nach Rechnungserhalt diese beglichen hat.
              Ein Anspruch auf Rückerstattung oder Gutschrift des Betrags für den Zeitraum der
              Sperrung besteht nicht.
            </div>
            <div><strong>4.5</strong> Die Lieferung erfolgt zu dem jeweils gültigen Bruttoendpreis
              (Nettopreis zuzüglich
              gesetzlicher Mehrwertsteuer). Die Firma driveright behält sich das Recht vor, die
              jeweiligen Preise für die Produkte auch bei bestehenden Abonnement jährlich in
              angemessener Weise anzupassen. Das Recht die Preise anzupassen gilt insbesondere bei
              nachweisbar eingetretenen Erhöhungen von Produktions-, Betriebs-, Versand- und
              Lohnkosten.
            </div>
          </dd>
          <dt>5. Haftung</dt>
          <dd>
            <div><strong>5.1</strong> Die Firma driveright übernimmt keine Haftung für Datenverlust.
              Alle der Firma
              driveright übergebenen Inhalte und Dateien durch die Fahrschule und der ein- und
              ausgehende E-Mailverkehr werden nicht gesichert. Im Falle eines Datenverlustes muss
              die Fahrschule die Inhalte erneut bereitstellen.
            </div>
            <div><strong>5.2</strong> Die Firma driveright ist bemüht die Erreichbarkeit der Website zu
              gewährleisten.
              Dennoch kann es zu Ausfällen oder technischen Problemen kommen, in deren Folge
              einzelne oder alle Websites für Besucher nicht zu erreichen sind. Daraus entsteht
              kein Anspruch auf Schadensersatz oder Rückerstattung bereits gezahlter Beiträge.
            </div>
            <div><strong>5.3</strong> Hiervon ausgenommen sind Zeiten, in denen der Server aufgrund von
              technischen oder
              sonstigen Problemen, die nicht im Einflussbereich der Firma driveright liegen
              (höhere Gewalt, Verschulden Dritter, Störungen des Internets durch den
              Netzanbieter/Rechenzentrum) nicht zu erreichen ist.
            </div>
            <div>
              <strong>5.4</strong> Zeiten, in denen durch Wartungsarbeiten Websites nicht erreichbar
              sind, gelten nicht
              als Ausfallzeit.
            </div>
          </dd>
          <dt>6. AGB-Änderung</dt>
          <dd>
            <div><strong>6.1</strong> Die Firma driveright behält sich das Recht vor, diese allgemeinen
              Geschäftsbedingungen zu ändern. Sie werden vor einer Änderung dieser
              Geschäftsbedingungen mit angemessenem Vorlauf, mindestens jedoch einen Monat vor dem
              beabsichtigten Inkrafttreten informiert. Die Information erfolgt an die von Ihnen
              benannte E-Mail-Adresse. Sollten Sie mit einer von uns beabsichtigten Änderung nicht
              einverstanden sein, haben Sie das Recht, der Änderung innerhalb eines Monats nach
              Mitteilung zu widersprechen. Wenn Sie fristgerecht widersprechen, sind wir
              berechtigt, den Vertrag mit einer Frist von einem Monat zum Ende des Kalendermonats
              schriftlich zu kündigen.
            </div>
          </dd>
          <dt>7. Datenschutz</dt>
          <dd>
            <div><strong>7.1</strong> Alle personenbezogenen Daten werden grundsätzlich vertraulich
              behandelt. Eine
              Weitergabe von Daten, insbesondere zu Werbezwecken, durch die Firma driveright
              findet nicht statt.
            </div>
            <div><strong>7.2</strong> Die Firma driveright gibt persönliche Daten der Fahrschulen nur
              dann
              bekannt, wenn
              sie hierzu gesetzlich verpflichtet ist.
            </div>
          </dd>
          <dt>8. Gerichtsstand</dt>
          <dd>
            <div><strong>8.1</strong> Der Gerichtsstand der Firma driveright ist Leverkusen. Die Firma
              driveright ist
              berechtigt, Fahrschulen und Dritte an seinem allgemeinen Gerichtsstand in Anspruch
              zu nehmen.
            </div>
          </dd>
          <dt>9. Salvatorisch Klausel</dt>
          <dd>
            <div><strong>9.1</strong> Sollten einzelne Bestimmungen dieser AGB unwirksam sein oder
              werden,
              so bleibt die
              Wirksamkeit der übrigen Bestimmungen davon unberührt. Anstelle der unwirksamen
              Bestimmung tritt automatisch eine Ersatzregelung, die dem mit der unwirksamen
              Bestimmung angestrebten Zweck möglichst nahe kommt.
            </div>
          </dd>
        </div>
      </div>
    </div>

  </section>

  <%- include('footer'); %>

  <script src="theme/vendor/jquery/jquery.min.js"></script>
  <script src="theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="theme/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="theme/vendor/js/main.js"></script>

</body>
</html>
