<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>driveright - Partner Ihrer Fahrschule</title>

  <link href="theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link href="theme/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="theme/vendor/css/main.css" rel="stylesheet">

  <style type="text/css">
    .input-group-text .fa {
      color: #2A3B8F;
    }
    a {
      color: black;
    }
  </style>
</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <img src="/images/logo-horizontal.png" alt="" />
      </a>
    </div>
  </nav>

  <section>

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <div id="message"></div>
        </div>
      </div>
    </div>

  </section>

  <%- include('footer'); %>

  <script src="theme/vendor/jquery/jquery.min.js"></script>
  <script src="theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="theme/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
  <script src="theme/vendor/js/main.js"></script>
  <script type="text/javascript">
    function urlParam(name){
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (results !== null){
        return decodeURI(results[1]) || 0;
      }
      return null;
    }

    $(document).ready(function() {
      var serializedData = `{
        "query":"mutation { orderWebsiteVerification(token: \\"${urlParam('token')}\\") { success errors }}",
        "variables": null
      }`;
      $.ajax({
        url: "https://api.drive-right.de/q",
        method: "POST",
        contentType: "application/json",
        data: serializedData,
        success: function(data) {
          if (!data.data.orderWebsiteVerification.success) {
            let errorMessage = '<ul>';
            data.data.orderWebsiteVerification.errors.forEach(function(err) {
              errorMessage += '<li>' + err + '</li>';
            });
            errorMessage += '</ul>';
            $('#message').show().html(errorMessage);
          } else {
            $('#message').show().html('<h2>Sie haben die Bestellung erfolgreich bestätigt.</h2><p>Wir werden uns in Kürze um Ihre Website kümmern.</p>');
          }
        }
      });
    })
  </script>

</body>
</html>
