<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>driveright - Partner Ihrer Fahrschule</title>

  <link href="theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link href="theme/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="theme/vendor/css/main.css" rel="stylesheet">

  <style type="text/css">
    .input-group-text .fa {
      color: #2A3B8F;
    }
    a {
      color: black;
    }
  </style>
</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <img src="/images/logo-horizontal.png" alt="" />
      </a>
    </div>
  </nav>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Hier bestellen Sie Ihre Website.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <form id="orderForm" class="validate" data-toastr-position="top-right">
            <div id="messages" style="display: none;"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-building"></i></div>
                  </div>
                  <input name="drivingschool" type="text" class="form-control" placeholder="Name der Fahrschule">
                </div>
              </div>
            </div>
            <div class="row form-description">
              <div class="col-md-12">
                <span>Der Name Ihrer Fahrschule wird für das Impressum benötigt.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-cloud"></i></div>
                  </div>
                  <input name="website" type="text" class="form-control" placeholder="Website der Fahrschule">
                </div>
              </div>
            </div>
            <div class="row form-description">
              <div class="col-md-12">
                <span>Sie müssen der Eigentümer der Domain sein. Die Domain muss mit www beginnen.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label class="radio">
                  <input name="officerType" type="radio" value="owner" checked="checked"><i></i> Inhaber
                </label>
                <label class="radio">
                  <input name="officerType" type="radio" value="managingdirector"><i></i> Geschäftsführer
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                  </div>
                  <input name="officerName" type="text" class="form-control" placeholder="Name des Inhabers/Geschäftsführers">
                </div>
              </div>
            </div>
            <div class="row form-description">
              <div class="col-md-12">
                <span>Nur Inhaber oder Geschäftsführer können eine kostenpflichtige Bestellung durchführen. Der Inhaber/Geschäftsführer wird im Impressum angegeben.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-home"></i></div>
                  </div>
                  <input name="street" type="text" class="form-control" placeholder="Strasse/Hausnummer">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-home"></i></div>
                  </div>
                  <input name="postcode" type="text" class="form-control" placeholder="Postleitzahl">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-home"></i></div>
                  </div>
                  <input name="city" type="text" class="form-control" placeholder="Ort">
                </div>
              </div>
            </div>
            <div class="row form-description">
              <div class="col-md-12">
                <span>Diese Adresse gilt als Hauptsitz. Diese wird als Sitz der Fahrschule im Impressum angegeben.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                  </div>
                  <input name="emailAddress" type="email" class="form-control" placeholder="E-Mail Adresse">
                </div>
              </div>
            </div>
            <div class="row form-description">
              <div class="col-md-12">
                <span>Die E-Mail Adresse wird für das Impressum, als Rechnungsadresse und für den Login genutzt.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-phone-square"></i></div>
                  </div>
                  <input name="phone" type="tel" class="form-control" placeholder="Telefon">
                </div>
              </div>
            </div>
            <div class="row form-description">
              <div class="col-md-12">
                <span>Die Telefonnummer wird im Impressum ausgegeben.</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label class="checkbox">
                  <input name="agb" type="checkbox" value="agb"><i></i> Ich habe die <a href="/datenschutz" target="_blank">Datenschutzbestimmungen</a> und <a href="/agb" target="_blank">AGB</a> gelesen und akzeptiere sie. Ich kann diese Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen, dazu wende ich mich an <a href="mailto:support@drive-right.de">support@drive-right.de</a>.
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button id="btnOrder" type="button" class="btn btn-primary btn-block">
                  Kostenpflichtig bestellen
                </button>
              </div>
            </div>
          </form>

          <div id="orderSuccess" style="display: none;">
            <h2>Wir haben Ihre Bestellung entgegen genommen</h2>
            <p>In wenigen Augenblicken erhalten Sie eine E-Mail mit einem Link zur Bestätigung Ihrer Bestellung.</p>
          </div>
        </div>

        <div class="offset-md-1 col-md-5 col-xs-12 order-description">
          <h3>Das passiert bei einer Bestellung:</h3>
          <ul>
            <li>Füllen Sie das nebenstehende Formular aus. Die Daten können Sie später jederzeit ändern.</li>
            <li>Nachdem Sie auf <strong>Kostenpflichtig bestellen</strong> geklickt haben, erhalten Sie wenige Augenblicke später eine E-Mail an die eingegebene E-Mail Adresse. Klicken Sie den Link in der E-Mail an – damit bestätigen Sie Ihre Bestellung.</li>
            <li>Wir benötigen anschließend den Auth-Code Ihres aktuellen Providers, damit wir Ihre Domain zu uns umziehen können. Wir werden damit technischer Ansprechpartner und Zonenverwalter Ihrer Domain. Die Domain selber bleibt dabei immer in Ihrem Besitz.</li>
            <li>Anschließend richten wir Ihre Domain, E-Mail Adressen und Website auf unseren Systemen ein.</li>
            <li>Mit Ihrem Zugang zu unserem Backend können Sie im Anschluss daran das Impressum um weitere Angaben (Steuernummer, zuständige Aufsichtsbehörde usw.) vervollständigen, Fotos Ihres Teams und Ihrer Fahrzeuge hochladen, sowie Ihre Kurse einstellen.</li>
            <li>Fertig! Haben Sie weitergehende Änderungswünsche können Sie diese gerne bei uns in Auftrag geben. Beachten Sie aber bitte, dass dadurch weitere Kosten entstehen.</li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <%- include('footer'); %>

  <script src="theme/vendor/jquery/jquery.min.js"></script>
  <script src="theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="theme/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
  <script src="theme/vendor/js/main.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#btnOrder").on("click", function() {
        var formData = $('#orderForm').serializeArray().reduce(function(obj, item) {
          obj[item.name] = item.value;
          return obj;
        }, {});
        var agbAccepted = formData['agb'] ? formData['agb'] : "";
        var serializedData = `{
          "query":"mutation { orderWebsite(drivingschool: \\"${formData['drivingschool']}\\", website: \\"${formData['website']}\\", officerType: \\"${formData['officerType']}\\", officerName: \\"${formData['officerName']}\\", street: \\"${formData['street']}\\", postcode: \\"${formData['postcode']}\\", city: \\"${formData['city']}\\", emailAddress: \\"${formData['emailAddress']}\\", phone: \\"${formData['phone']}\\", agb: \\"${agbAccepted}\\") { success errors }}",
          "variables": null
        }`;
        $.ajax({
          url: "https://api.drive-right.de/q",
          method: "POST",
          contentType: "application/json",
          data: serializedData,
          success: function(data) {
            if (!data.data.orderWebsite.success) {
              let errorMessage = '<ul>';
              data.data.orderWebsite.errors.forEach(function(err) {
                errorMessage += '<li>' + err + '</li>';
              });
              errorMessage += '</ul>';
              $('#messages').show().html(errorMessage);
            } else {
              $('#messages').hide().html('');
              $('#orderForm').hide();
              $('#orderSuccess').show();
            }
          }
        });
      })
    })
  </script>

</body>
</html>
