<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">&copy; 2018 - 2020 driveright, All Rights Reserved</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="/agb">AGB</a>
          </li>
          <li class="list-inline-item">
            <a href="/datenschutz">DATENSCHUTZ</a>
          </li>
          <li class="list-inline-item">
            <a href="/impressum">IMPRESSUM</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
