<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>driveright - Partner Ihrer Fahrschule</title>

  <link href="theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link href="theme/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="theme/vendor/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="/images/logo-horizontal.png" alt="" />
      </a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#angebot">Unser Angebot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#preise">Preise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/anmelden#/anmelden">Kunden-Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">
          <h1 class="wow fadeInUp" data-wow-delay="0.4s">
            Partner Ihrer Fahrschule
          </h1>
        </div>
        <div class="intro-heading text-uppercase">
          <span class="lead wow fadeInUp" data-wow-delay="1.7s">Fair</span>
          <span class="lead wow fadeInUp" data-wow-delay="2.4s">&</span>
          <span class="lead wow fadeInUp" data-wow-delay="3.1s">Zuverlässig</span>
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#angebot">Mehr erfahren</a>
      </div>
    </div>
  </header>

  <section id="angebot">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12 text-center">
          <h2>Das bieten wir Ihnen</h2>
        </div>
      </div>

      <div class="row" style="padding-bottom: 100px;">
        <div class="col-md-6 col-sm-6">
          <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="/images/team-guenther.jpg" alt="" />
        </div>

        <div class="col-md-6 col-sm-6">
          <header class="mb-60">
            <h2>Team</h2>
          </header>
          <p>
            Das Wichtigste zuerst: Ihr Team!<br/>
            Das sind die Gesichter Ihrer Fahrschule - präsentieren Sie es von der besten Seite.
          </p>
          <p>
            Für jeden Mitarbeiter können Sie die Kontaktdaten hinterlegen. Damit sind die Fahrschüler in der Lage gezielt ein
            Team-Mitglied anzusprechen, statt über eine <strong>info@-</strong> oder <strong>support@-</strong> E-Mail Adresse.
          </p>
          <p>
            Ihnen stehen 10 E-Mail Adressen mit je 1GB Speicherplatz zur Verfügung.
          </p>
        </div>
      </div>

      <div class="row" style="padding-bottom: 100px;">
        <div class="col-md-6 col-sm-6 text-md-right">
          <header>
            <h2>Bestanden!!!</h2>
          </header>
          <p>
            Halten Sie den freudigen, erlösenden und erfolgreichen Moment in einem Bild fest. Es wird weitere Fahrschüler
            motivieren.
          </p>
          <p>
            Und schließlich ist jeder erfolgreiche Führerscheinerwerb ja auch Ihr Erfolg.
          </p>
        </div>

        <div class="col-md-6 col-sm-6">
          <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="/images/bestanden-rebecca.jpg" alt="" />
        </div>
      </div>

      <div class="row" style="padding-bottom: 100px;">
        <div class="col-md-6 col-sm-6">
          <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="/images/kurse.jpg" alt="" />
        </div>

        <div class="col-md-6 col-sm-6">
          <header>
            <h2>Kurse</h2>
          </header>
          <p>
            Geben Sie Ihre Kurse detailliert ein: Um was geht es in dem Kurs? Erklären Sie, was das Ziel des Kurses ist.
            Wann wird welches Thema behandelt? So können sich Ihre Fahrschüler optimal auf den Kurs vorbereiten.
          </p>
          <p>
            Mittels kleiner, aussagekräftiger Bilder reichern Sie Ihre Darstellung an.
          </p>
          <p>
            Fahrschüler können sich so ein genaues Bild über den Ablauf machen und wissen, was auf sie zukommt.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 text-md-right">
          <header>
            <h2>Fahrzeuge</h2>
          </header>
          <p>
            Präsentieren Sie Ihren Fuhrpark.
          </p>
          <p>
            Einen großen Teil der Ausbildung verbringen die Fahrschüler in oder auf
            Ihren Fahrzeugen. Daher ist es wichtig, dass sich die Fahrschüler vorab ein Bild davon machen können.
          </p>
          <p>
            Vermitteln Sie von Anfang an einen guten Eindruck.
          </p>
        </div>

        <div class="col-md-6 col-sm-6">
          <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="/images/fahrzeuge.jpg" alt="" />
        </div>
      </div>
    </div>

  </section>

  <section id="preise" class="alternate">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12 text-center">
          <h2>Preise</h2>
          <h4>
            Bezahlen Sie nicht mehr als nötig.
          </h4>
          <p>
            Bei uns steigen Sie mit kleinen Beträgen ein und können Ihre Website nach Ihren Bedürfnissen anpassen und erweitern.
          </p>
        </div>
      </div>
      <div class="row mega-price-table">
        <div class="col-md-4 offset-md-2 col-sm-6">
          <div class="pricing">

            <div class="pricing-head">
              <h3>Hosting</h3>
              <small>monatlich</small>
            </div>

            <h4>
              <small>€</small>39<sup>,00</sup>
              <div class="sub-pricing"><small>€</small>46<sup>,41</sup> inkl. Mwst.</div>
            </h4>

            <ul class="pricing-table list-unstyled">
              <li>
                <span>Website mit Standardbildern / -texten</span>
              </li>
              <li class="alternate">
                10 <span">E-Mail Accounts, jeweils 1GB</span>
              </li>
              <li>
                1 <span">Domain</span>
              </li>
              <li class="alternate">
                <span>SSL Zertifikat</span>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="pricing">

            <div class="pricing-head">
              <h3>Agenturleistung</h3>
              <small>Stunde</small>
            </div>

            <h4>
              <small>€</small>75<sup>,00</sup>
              <div class="sub-pricing"><small>€</small>89<sup>,25</sup> inkl. Mwst.</div>
            </h4>

            <ul class="pricing-table list-unstyled">
              <li class="vertical-center">
                <span>Individuelle Bilder</span>
              </li>
              <li class="alternate">
                <span>Individuelle Texte</span>
              </li>
              <li>
                <span>Individuelle Seiten</span>
              </li>
              <li class="alternate">
                <span></span>
              </li>
            </ul>

          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          <div class="text-center">
            <a href="/bestellung" class="btn btn-primary btn-xl text-uppercase">Jetzt Website bestellen</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('footer'); %>

  <script src="theme/vendor/jquery/jquery.min.js"></script>
  <script src="theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="theme/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="theme/vendor/js/main.js"></script>

</body>

</html>
