<mailsubject>
  Einladung von <%= data.drivingschool %>
</mailsubject>

<mailbody>
  <html>
  <head></head>
  <body>
    Hallo,<br/><br/>
    Sie haben eine Einladung von der <%= data.drivingschool %> erhalten.<br/>
    Benutzen Sie folgenden Link, um die Einladung anzunehmen und ein Passwort zu vergeben.<br/>
    <a href="https://www.drive-right.de/dashboard#/passwort-setzen?token=<%= data.token %>">Einladung annehmen</a><br/><br/>
    Viele Grüße
  </body>
  </html>
</mailbody>

<mailplain>
  Hallo,

  Sie haben eine Einladung von der <%= data.drivingschool %> erhalten.
  Benutzen Sie folgenden Link, um die Einladung anzunehmen und ein Passwort zu vergeben.
  https://www.drive-right.de/dashboard#/passwort-setzen?token=<%= data.token %>

  Viele Grüße
</mailplain>