<mailsubject>
  Sie haben eine Online-Anmeldung erhalten
</mailsubject>

<mailbody>
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <!--[if gte mso 9]><xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
    <title></title>
    <!--[if !mso]><!-- -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <!--<![endif]-->

    <style type="text/css" id="media-query">
      body {
        margin: 0;
        padding: 0; }

      table, tr, td {
        vertical-align: top;
        border-collapse: collapse; }

      .ie-browser table, .mso-container table {
        table-layout: fixed; }

      * {
        line-height: inherit; }

      a[x-apple-data-detectors=true] {
        color: inherit !important;
        text-decoration: none !important; }

      [owa] .img-container div, [owa] .img-container button {
        display: block !important; }

      [owa] .fullwidth button {
        width: 100% !important; }

      [owa] .block-grid .col {
        display: table-cell;
        float: none !important;
        vertical-align: top; }

      .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
        width: 600px !important; }

      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%; }

      .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
        width: 200px !important; }

      .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
        width: 400px !important; }

      .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
        width: 300px !important; }

      .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
        width: 200px !important; }

      .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
        width: 150px !important; }

      .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
        width: 120px !important; }

      .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
        width: 100px !important; }

      .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
        width: 85px !important; }

      .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
        width: 75px !important; }

      .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
        width: 66px !important; }

      .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
        width: 60px !important; }

      .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
        width: 54px !important; }

      .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
        width: 50px !important; }

      @media only screen and (min-width: 620px) {
        .block-grid {
          width: 600px !important; }
        .block-grid .col {
          vertical-align: top; }
        .block-grid .col.num12 {
          width: 600px !important; }
        .block-grid.mixed-two-up .col.num4 {
          width: 200px !important; }
        .block-grid.mixed-two-up .col.num8 {
          width: 400px !important; }
        .block-grid.two-up .col {
          width: 300px !important; }
        .block-grid.three-up .col {
          width: 200px !important; }
        .block-grid.four-up .col {
          width: 150px !important; }
        .block-grid.five-up .col {
          width: 120px !important; }
        .block-grid.six-up .col {
          width: 100px !important; }
        .block-grid.seven-up .col {
          width: 85px !important; }
        .block-grid.eight-up .col {
          width: 75px !important; }
        .block-grid.nine-up .col {
          width: 66px !important; }
        .block-grid.ten-up .col {
          width: 60px !important; }
        .block-grid.eleven-up .col {
          width: 54px !important; }
        .block-grid.twelve-up .col {
          width: 50px !important; } }

      @media (max-width: 620px) {
        .block-grid, .col {
          min-width: 320px !important;
          max-width: 100% !important;
          display: block !important; }
        .block-grid {
          width: calc(100% - 40px) !important; }
        .col {
          width: 100% !important; }
        .col > div {
          margin: 0 auto; }
        img.fullwidth, img.fullwidthOnMobile {
          max-width: 100% !important; }
        .no-stack .col {
          min-width: 0 !important;
          display: table-cell !important; }
        .no-stack.two-up .col {
          width: 50% !important; }
        .no-stack.mixed-two-up .col.num4 {
          width: 33% !important; }
        .no-stack.mixed-two-up .col.num8 {
          width: 66% !important; }
        .no-stack.three-up .col.num4 {
          width: 33% !important; }
        .no-stack.four-up .col.num3 {
          width: 25% !important; }
        .mobile_hide {
          min-height: 0px;
          max-height: 0px;
          max-width: 0px;
          display: none;
          overflow: hidden;
          font-size: 0px; } }

    </style>
  </head>
  <body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF">
  <style type="text/css" id="media-query-bodytag">
    @media (max-width: 520px) {
      .block-grid {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

      .col {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

      .col > div {
        margin: 0 auto;
      }

      img.fullwidth {
        max-width: 100%!important;
      }
      img.fullwidthOnMobile {
        max-width: 100%!important;
      }
      .no-stack .col {
        min-width: 0!important;
        display: table-cell!important;
      }
      .no-stack.two-up .col {
        width: 50%!important;
      }
      .no-stack.mixed-two-up .col.num4 {
        width: 33%!important;
      }
      .no-stack.mixed-two-up .col.num8 {
        width: 66%!important;
      }
      .no-stack.three-up .col.num4 {
        width: 33%!important;
      }
      .no-stack.four-up .col.num3 {
        width: 25%!important;
      }
      .mobile_hide {
        min-height: 0px!important;
        max-height: 0px!important;
        max-width: 0px!important;
        display: none!important;
        overflow: hidden!important;
        font-size: 0px!important;
      }
    }
  </style>
  <!--[if IE]><div class="ie-browser"><![endif]-->
  <!--[if mso]><div class="mso-container"><![endif]-->
  <table class="nl-container" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #FFFFFF;width: 100%" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #FFFFFF;"><![endif]-->

        <div style="background-color:transparent;">
          <div style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
              <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

              <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
              <div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
                <div style="background-color: transparent; width: 100% !important;">
                  <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="divider " style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                      <tbody>
                      <tr style="vertical-align: top">
                        <td class="divider_inner" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                          <table class="divider_content" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 0px solid transparent;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                            <tbody>
                            <tr style="vertical-align: top">
                              <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                <span></span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                </div>
              </div>
              <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
          </div>
        </div>    <div style="background-color:#FFFFFF;">
          <div style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid two-up ">
            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
              <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#FFFFFF;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

              <!--[if (mso)|(IE)]><td align="center" width="300" style=" width:300px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
              <div class="col num6" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                <div style="background-color: transparent; width: 100% !important;">
                  <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->


                    <div align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px;  padding-left: 0px;">
                      <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
                      <img class="center  autowidth  fullwidth" align="center" border="0" src="https://www.drive-right.de/images/logo-horizontal.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 300px" width="300">
                      <div style="line-height:5px;font-size:1px">&#160;</div><!--[if mso]></td></tr></table><![endif]-->
                    </div>


                    <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                </div>
              </div>
              <!--[if (mso)|(IE)]></td><td align="center" width="300" style=" width:300px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
              <div class="col num6" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                <div style="background-color: transparent; width: 100% !important;">
                  <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



                    <div align="center" style="padding-right: 10px; padding-left: 10px; padding-bottom: 10px;" class="">
                      <div style="line-height:20px;font-size:1px">&#160;</div>
                      <div style="display: table; max-width:77px;">
                        <!--[if (mso)|(IE)]><table width="57" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:57px;"><tr><td width="32" style="width:32px; padding-right: 5px;" valign="top"><![endif]-->
                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0">
                          <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
                              <a href="https://www.facebook.com/driverightdeutschland" title="Facebook" target="_blank">
                                <img src="images/facebook@2x.png" alt="Facebook" title="Facebook" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
                              </a>
                              <div style="line-height:5px;font-size:1px">&#160;</div>
                            </td></tr>
                          </tbody></table>
                        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                      </div>
                    </div>

                    <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                </div>
              </div>
              <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
          </div>
        </div>    <div style="background-color:transparent;">
          <div style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
              <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

              <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
              <div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
                <div style="background-color: transparent; width: 100% !important;">
                  <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->


                    <div class="">
                      <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;"><![endif]-->
                      <div style="line-height:120%;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 0px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;">
                        <div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#555555;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 20px; line-height: 24px;"><strong>Sie haben eine Online-Anmeldung erhalten</strong></span></p></div>
                      </div>
                      <!--[if mso]></td></tr></table><![endif]-->
                    </div>


                    <div class="">
                      <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                      <div style="line-height:180%;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                        <div style="font-size:12px;line-height:22px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 25px;text-align: left">
                            <span style="font-size: 14px; line-height: 25px;">
                              Name: <%= data.lastname %><br>
                              Vorname: <%= data.firstname %><br>
                              Straße: <%= data.street %><br>
                              PLZ: <%= data.zipcode %><br>
                              Ort: <%= data.city %><br>
                              Geburtsdatum: <%= data.birthdate %><br>
                              Telefon: <%= data.phone %><br>
                              E-Mail Adresse: <%= data.emailAddress %><br>
                              Wie bist Du auf uns aufmerksam geworden?: <%= data.whereToFindUs %><br>
                              Welche Führerscheinklasse möchtest Du bei uns machen?: <%= data.licence %><br>
                              Hast Du bereits einen Führerschein?: <%= data.owningLicences %><br>
                              Wann möchtest Du starten?: <%= data.startDate %><br>
                              Wann möchtest Du fertig sein?: <%= data.endDate %>
                            </span><span style="font-size: 14px; line-height: 25px;"></span></p></div>
                      </div>
                      <!--[if mso]></td></tr></table><![endif]-->
                    </div>

                    <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                </div>
              </div>
              <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
          </div>
        </div>    <div style="background-color:#F9F9F9;">
          <div style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
              <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#F9F9F9;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

              <!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
              <div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
                <div style="background-color: transparent; width: 100% !important;">
                  <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->


                    <div class="">
                      <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                      <div style="line-height:120%;color:#2A3B8F;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                        <div style="font-size:12px;line-height:14px;color:#2A3B8F;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;"><p style="margin: 0;font-size: 16px;line-height: 19px;text-align: center"><span style="font-size: 16px; line-height: 19px; color: rgb(42, 59, 143);"><strong><a style="color:#2A3B8F;text-decoration: underline;" href="https://www.drive-right.de" target="_blank" rel="noopener" data-mce-selected="1">www.drive-right.de</a></strong></span></p><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="color: rgb(0, 0, 0); font-size: 10px; line-height: 12px;">Niklas Knipp</span><br></p><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="color: rgb(0, 0, 0); font-size: 10px; line-height: 12px;">Auf dem Forst 6</span></p><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="color: rgb(0, 0, 0); font-size: 10px; line-height: 12px;">51375 Leverkusen</span></p></div>
                      </div>
                      <!--[if mso]></td></tr></table><![endif]-->
                    </div>


                    <div class="">
                      <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                      <div style="line-height:120%;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                        <div style="font-size:12px;line-height:14px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><strong>© 2020 driveright</strong>&#160;All rights reserved</p></div>
                      </div>
                      <!--[if mso]></td></tr></table><![endif]-->
                    </div>

                    <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                </div>
              </div>
              <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
          </div>
        </div>   <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>
  <!--[if (mso)|(IE)]></div><![endif]-->
  </body></html>
</mailbody>

<mailplain>
  Sie haben eine Online-Anmeldung erhalten

  Name: <%= data.lastname %>
  Vorname: <%= data.firstname %>
  Straße: <%= data.street %>
  PLZ: <%= data.zipcode %>
  Ort: <%= data.city %>
  Geburtsdatum: <%= data.birthdate %>
  Telefon: <%= data.phone %>
  E-Mail Adresse: <%= data.emailAddress %>
  Wie bist Du auf uns aufmerksam geworden?: <%= data.whereToFindUs %>
  Welche Führerscheinklasse möchtest Du bei uns machen?: <%= data.licences %>
  Hast Du bereits einen Führerschein?: <%= data.owningLicences %>
  Wann möchtest Du starten?: <%= data.startDate %>
  Wann möchtest Du fertig sein?: <%= data.endDate %>

  www.drive-right.de
  Niklas Knipp
  Auf dem Forst 6
  51375 Leverkusen

  © 2020 driveright All rights reserved

</mailplain>
